<footer class="footer">
    <div class="container_footer">
        <div class="row">
            <div class="footer-col">
                <h4>Zakładki</h4>
                <ul>
                    <li><a href="./../../pages/home/">Strona Główna</a></li>
                    <li><a href="./../../pages/regulamin/">Regulamin</a></li>
                    <li><a href="./../../pages/faq/">FAQ</a></li>
                    <li><a href="./../../pages/administracja/">Spis Administracji</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Nasze Media Społecznościowe</h4>
                <div class="social-links">
                    <a href="https://discord.gg/zMQe6w5aF3"><i class="fab fa-discord"></i></a>
                    <a href="https://www.youtube.com/@_rybson_4096"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.tiktok.com/@fishmcpolska"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/fishmcpolska/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>