<header>
    <a href="#" class="logo">
        <div id="logo">
            <img id="fishmclogo" src="./../../images/logo.png" alt="">
        </div>
        <div id="title">
            FishMC
        </div>
    </a>

    <ul>
        <li>
            <a href="./../../pages/home/">Strona Główna</a>
            <a href="./../../pages/regulamin/">Regulamin</a>
            <a href="./../../pages/faq/">FAQ</a>
            <a href="./../../pages/administracja/">Spis Administracji</a>
        </li>
    </ul>
</header>